// Bootstrap 4 breakpoints
$MAX-XS: 575px;
$MIN-SM: 576px;
$MAX-SM: 767px;
$MIN-MD: 768px;
$MAX-MD: 991px;
$MIN-LG: 992px;
$MAX-LG: 1199px;
$MIN-XL: 1200px;

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

#wrapper {
    margin: 0;
}

// Google map
#map {
    border-radius: 1rem;
    border: 0 solid transparent;
    height: 400px;
    margin-top: .5rem;
    width: 100%;
}

#header,
#footer {
    display: inline-block;
    height: 100px;
    line-height: 100px - 21.44px * 2;
    width: 100%;
}

button {
    outline: none;
}

hr {
    background: linear-gradient(to left, #fff, #222, #fff);
    border: none;
    display: block;
    height: 1px;
    margin: 3rem 0 1rem;
}

// Pseudo form
#pseudo-form {
    & .input-group,
    & .input-group-inline,
    & .input-group-with-button {
        & label,
        & input {
            display: block;
            font-size: 1rem;
            margin: 1rem 0 0;
            padding: .5rem 0 0;
            width: 94%;
        }

        & input {
            border-radius: 2rem;
            border: 1px solid #444;
            box-shadow: 0 .2rem .1rem #f0f0f0;
            font-family: 'Open Sans';
            outline: none;
            padding: .5rem;
        }
    }

    & .input-group-inline {
        display: inline-block;
        margin: auto 1.5%;
        width: 46%;

        & input {
            border-radius: 2rem;
        }
    }

    & .input-group-with-button {
        & input {
            width: 80%;
            display: inline-block;
            margin: auto 0;
            vertical-align: middle;
        }

        & .group-button {
            display: inline-block;
            width: 18%;
            text-align: right;
            vertical-align: middle;

            & button {
                box-shadow: 0 .2rem .1rem #f0f0f0;
                display: block;
                text-align: center;
                width: 2.5rem;
                padding: .8rem;
                border: 1px solid #000;
                border-radius: 100%;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }

    & button {
        background: #fff;
        border: 1px solid #000;
        border-radius: 2rem;
        box-shadow: 0 1rem 1rem -.5rem #aaa;
        color: #000;
        font-family: 'Open Sans';
        font-size: .7rem;
        font-weight: 700;
        margin: 1rem 1%;
        padding: 1rem;
        text-align: left;
        transition: .15s ease-in;
        width: 46%;
        display: inline-block;

        &:hover {
            background: #eee;
            box-shadow: 0 .5rem .5rem -.25rem #aaa;
            cursor: pointer;
        }

        &#del-btn {

            &:hover {
                background: #fa6;
                color: #fff;
                border-color: #940;

                // Tooltip.
                &::after {
                    animation: .5s fade-in-tip linear;
                    content: 'Sure?';
                    background-color: rgba(#000, .5);
                    border-radius: 60px;
                    color: #fff;
                    padding: 5px 0;
                    position: absolute;
                    text-align: center;
                    transform: translateY(25px) translateX(-60px);
                    width: 120px;
                }
            }
        }

        &.fa {
            margin: 0 5px;
        }
    }
}

#footer {
    & a {
        color: #000;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        transition: .15s ease-in;
        line-height: 1.5;

        &::after {
            border-bottom: 2px solid transparent;
            content: '';
            display: block;
            margin: 0 auto;
            transition: .25s linear;
            width: 0%;
        }

        &:hover, &:focus {
            color: #000;
            text-decoration: none;

            &::after {
                content: '';
                display: block;
                border-bottom: 2px solid #000;
                width: 100%;
            }
        }
    }
}

// Used to animate tip on del button
@keyframes fade-in-tip {
    from { opacity: 0; } to { opacity: 1; }
}

@media (min-width: $MIN-MD) {
    #wrapper {
        margin: 0 3%;
    }

    #map,
    #pseudo-form {
        display: inline-block;
        float: left;
    }

    #map {
        width: 50%;
        height: 100%;
    }

    #pseudo-form {
        width: 30%;
        padding: 0 10%;
    }

    .pseudo-form-button {
        width: 30%;
    }
}

@media (min-width: $MIN-LG) {
    #wrapper {
        margin: 0 10%;
    }
}

// Mobile devices
@media (max-width: $MAX-SM) {
    h1 {
        font-size: 1.5rem;
        line-height: 1;
    }
}