{% extends "index.html" %}
{% load static %}

{% block page_content %}

<!-- Map attached here -->
<div id="map"></div>

<!-- Pseudo form. Normal form would allow only GET/POST methods (we need CRUD) -->
<div id="pseudo-form">

    <!-- Title -->
    <div class="input-group-with-button">
        <label for="title">Title</label>
        <input id="title" type="text">

        <div class="group-button">
            <button id="get-btn" onclick="mpe_app.get_data()">
                <span class="fa fa-search"></span>
            </button>
        </div>
    </div>

    <!-- Description -->
    <div class="input-group">
        <label for="description">Description</label>
        <input id="description" type="text">
    </div>

    <!-- Longitude -->
    <div class="input-group-inline">
        <label for="longitude">Longitude</label>
        <input id="longitude" type="number" value="0" min="-90" max="90" step=".01">
    </div>

    <!-- Latitude -->
    <div class="input-group-inline">
        <label for="latitude">Latitude</label>
        <input id="latitude" type="number" value="0" min="-90" max="90" step=".01">
    </div>

    <!-- Keywords -->
    <div class="input-group-with-button">
        <label for="keywords">Keywords</label>
        <input id="keywords" type="text" placeholder="Use ,/;. or space for separation">
        <div class="group-button">
            <button id="filter-keywords" onclick="mpe_app.get_all_places('keywords')">
                <span class="fa fa-search"></span>
            </button>
        </div>
    </div>

    <!-- Opening hours -->
    <div class="input-group-inline">
        <label for="opening_hour">Opening hour</label>
        <input id="opening_hour" type="time" value="00:00" required>
    </div>

    <!-- Closing hours -->
    <div class="input-group-inline">
        <label for="closing_hour">Closing hour</label>
        <input id="closing_hour" type="time" value="00:00" required>
    </div>

    <!-- Associated places -->
    <div class="input-group">
        <label for="associated_places">Associated places</label>
        <input id="associated_places" type="text">
    </div>

    <!-- Separator -->
    <hr>

    <!-- Block of buttons -->

    <!-- Saving button -->
    <button id="add-btn" class="pseudo-form-button" onclick="mpe_app.set_data()">
        <span class="fa fa-save"></span>
        <span>SAVE</span>
    </button>

    <!-- Updating button -->
    <button id="upd-btn" class="pseudo-form-button" onclick="mpe_app.update_data()">
        <span class="fa fa-refresh"></span>
        <span>UPDATE</span>
    </button>

    <!-- Destroying button -->
    <button id="del-btn" class="pseudo-form-button" onclick="mpe_app.delete_data()">
        <span class="fa fa-trash"></span>
        <span>DESTROY</span>
    </button>

    <!-- 'Search for currently open places' button -->
    <button id="filter-open" onclick="mpe_app.get_all_places('open')">
        <span class="fa fa-search"></span>
        <span>NOW OPEN</span>
    </button>

</div>

{% endblock %}