{% load staticfiles %}
{% load rest_framework %}

<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'style/style.css' %}?v=1">

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!DOCTYPE html>
<html>
    <head>
        <title>Map place exercise :: Valentin Dzhankhotov</title>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <h1>Map place exercise by Valentin</h1>
            </div>

            {% block page_content %}{% endblock %}

            <div id="footer">
                <p>
                    © {% now "Y" %}&nbsp;
                    <a href="http://www.lamia.fi" target="_blank">LAMIA</a>
                </p>
            </div>
        </div>
        <script src="../static/map-place-exercise.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBuwSQNqQWA-aAiHoDMrgIRWWlm_vn0zg&callback=mpe_app.init_map" async defer></script>
    </body>
</html>